---
import { DeckData } from '../../interfaces';
import GMSVG from '../../gm-svg.svg';
import JCGSVG from '../../jcg-svg.svg';
export interface Props {
  deck: DeckData
}

const {deck} = Astro.props
---

<a href={deck.deckLink} target="_blank"
  class="group relative w-full h-[70px] rounded-lg overflow-hidden">
  <img src={deck.imageURL} alt={deck.archetype} class="absolute w-full h-full object-cover">
  <div class="absolute flex w-full h-full bg-black/80 items-center group-hover:bg-black/90
  transition duration-200">
    <div class="px-2 flex w-full justify-between items-center">
      <div>
        <h2 class="text-white font-bold text-md font-heading">{deck.archetype}</h2>
        <span class="text-white text-xs text-center">By: Unkown</span>
      </div>
    </div>
  </div>
  <!-- <div class="flex h-full items-center w-10 absolute right-2">
    <img src={GMSVG} class="w-8">
    <img src={JCGSVG} class="w-8">
  </div> -->
</a>