---
import { DeckData } from '../../interfaces';
export interface Props {
  deck: DeckData
}

const {deck} = Astro.props

const getPlace = (score: number) => {
  
  if(score == 101) return "1st Place";
  if(score == 102) return "2nd Place";
  if(score == 103) return "Top 4";
  if(score == 116) return "Top 16";
  if(score == 6) return "1st Place";
  if(score == 3) return "2nd Place";
  if(score == 4 || score == 1.5) return "Top 16";
  return "Tournament";
}
---

<div class="transition duration-300 flex flex-col items-center w-full rounded-lg bg-black/10 relative overflow-hidden border border-black/30">
  {(deck.source ) && 
  <div class="px-2 py-1 bg-accent text-xs text-primary font-bold absolute top-2 right-0 rounded-l-lg z-50">{getPlace(deck.score)}</div>}
  <a href={`/deck/view/${deck.id}`}><img src={deck.imageURL} class="w-full aspect-square object-cover rounded-t-lg hover:scale-105 transition duration-300"></a>
  <a href={`/archetype/${deck.archetypeSlug}`} target="_blank" class="transition duration-300 text-secondary mt-2 hover:text-secondary/40">{deck.archetype}</a>
  {deck.source && <span class="text-secondary/50 text-[0.75rem] mt-1">{deck.player_name}</span>}
  <a href={deck.deckLink} target="_blank" class=" group py-2 rounded-b-lg bg-black/20 text-sm  text-secondary mt-3 w-full flex items-center justify-center">
    Get Code 
    <span class="ml-2 transition duration-300 group-hover:translate-x-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>      
    </span>
  </a>
</div>